#page-home {
    width: 100vw;
    height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: column;
    background-color: #7EC9F3;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
    background-color: #31ADF3;
    
}

.page-header .top-bar-container a {
    text-decoration: none;
    color: #FFF;
    transition: opacity 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header .top-bar-container a img{
    margin-right: 0.3rem;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container img {
    height: 1.6rem;
    align-items: center;
    margin-left: 3.2rem;
} 

.page-header .top-bar-container .face {
    margin-right: 4rem;
} 

.page-header .header-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin: 0rem auto;
    background-color: #2D9CDB;    
}

.page-header .header-content strong {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.page-header .header-content .logo {
    width: 9rem;
    height: 10rem;
    margin-top: 1rem;
}

.page-header .header-content img {
    height: 3.5rem;
    align-items: center;
}

.buttons-container {
    align-items: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #2D9CDB;
}

.buttons-container a {    
    text-decoration: none;
    margin: 3rem;

    display: flex;
    align-items: center;
}

.buttons-container a .home {
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-right: 0.5rem;
    font: 700 3.0rem Acme;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #484747;

    background: #92FC57;
    transition: background-color 0.2s;
}

.buttons-container a.home:hover {
    background: #5CB829;
}

.buttons-container a.events {
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
    font: 500 3.0rem Acme;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #484747;

    background: #FDEF3E;
    transition: background-color 0.2s;
}

.buttons-container a.events:hover {
    background: #CFC207;
}

.buttons-container a.contact {
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
    font: 500 3.0rem Acme;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #484747;

    background: #E82E19;
    transition: background-color 0.2s;
}

.buttons-container a.contact:hover {
    background: #B61C0B;
}